In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/bluejays_batting_2024_raw.csv')

In [ ]:
df[df['Rk'].isna()][['Player','Rk','Age','Pos']]

         Player  Rk  Age  Pos
27  Team Totals NaN  NaN  NaN

In [ ]:
df_clean = df[df['Rk'].notna()].copy()

In [ ]:
df_clean['Player'] = (
    df_clean['Player']
    .str.replace(r'[\*\#]', '', regex=True)
    .str.strip()
)

In [ ]:
df_clean = df_clean.drop(columns=['Pos.1'])

In [ ]:
df_clean['Rk'] = df_clean['Rk'].astype(int)
df_clean['Age'] = df_clean['Age'].astype(int)

In [ ]:
df_clean.to_csv('tor_hitters_2025_clean.csv', index=False)